.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    height:500px;
    margin: auto;
    
}

.thum{
    width:150px;
   height:150px;

 
   padding-top:auto;
   margin-left:33%;
 }

 .description{
     margin-left:60%;
     transform:translateY(-900%);
     font-size:20px;
 }
 .description2{
    margin-left:50%;
    transform:translateY(-1300%);
    
}
 .bid{
     margin-left:65%;
     transform:translateY(-500%);
     background-color:rgb(197, 216, 161);
     width:70px;
 }

 .btn_bid{
     margin-left:90%;
     transform:translateY(-685%);
 }

 .title{
     padding-left:70px;
     padding-top:7px;
     background-color:#CFE6E3;
     position:relative;
     height:50px;
     width:50%;
     margin-left:50%;
     margin-top:20px;
    
     
 }

 .title h3{
    font-family: "Arial", Helvetica, sans-serif;
    font-size:30px;
    position:relative;
 }

 img{
     margin-top:70px;
     position:relative;
 }

 .bid_cost{
     margin-left:40%;
     transform:translateY(-290%)
 }

 #demo{
     margin-left:40%;
 }