.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    
}

.thum{
    width:150px;
   height:150px;

 
   padding-top:auto;
   margin-left:33%;
 }

 .description{
     margin-left:60%;
     transform:translateY(-1000%);
 }

 .bid{
     margin-left:60%;
     transform:translateY(-500%);
 }

 .btn_bid{
     margin-left:80%;
     transform:translateY(-680%);
 }